<html>
    <head>
        <title>TP1 - Le jeu Simon</title>
        <link rel="stylesheet" href="index.css">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
        
        <div id="app">

            <div class="center-circle">
                <h2>Le jeu du Simon</h2>
                <level-count v-if="gameRunning" v-bind:data="score"></level-count>

                <div class="btn-container">
                    <button v-if="!gameRunning" class="start-game-btn" v-on:click="startGame">
                        Commencer la partie
                    </button>
                    <button v-else class="start-game-btn" v-on:click="startGame">
                        Relancer une partie
                    </button>
                </div>
            </div>

            <div class="matrix-container" v-if="gameRunning">
                <button-simon v-for="button in squareMapping"  ref="puddleObject" v-bind:data="button" v-on:click-button="selectSquare" ></button-simon>
            </div>
        </div>

        <script src="components/button-simon.js"></script>
        <script src="components/level-count.js"></script>
        <script src="index.js"></script>
    </body>
</html>