<template>
  <div v-bind:class="[data.activeColor ? data.color : '', data.text]"  class="square" v-on:click="selectSquare(data.text)" ></div>
</template>

<script>
export default {
  props : ['data'],
  methods : {
    selectSquare(data) {
      this.$emit('click-button', data);
    }
  }
}
</script>

<style scoped>

</style>