body{
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
}

.btn-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2, h3 {
    width: 100%;
    text-align: center;
	color:rgba(69, 69, 69, 1);
	line-height:2em;
    margin: 40px 0 0;
}

.start-game-btn {
    display:inline-block;
	
	font:normal normal 300 1.3em 'Open Sans';
	text-decoration:none;	
	
	color:rgba(28, 190, 131, 1);
	border:1px solid rgba(28, 190, 131, 1);
	border-radius:100px;
	
	padding: .3em 1.2em;
	margin:5px;
			
	background-size: 200% 100%;	
	background-image: linear-gradient(to right, transparent 50%, rgba(28, 190, 131, 1) 50%);
	transition: background-position .3s cubic-bezier(0.19, 1, 0.22, 1) .1s, color .5s ease 0s, background-color .5s ease;
}

.start-game-btn:hover{
	color:rgba(255, 255, 255, 1);
	background-color:rgba(28, 190, 131, 1);
	background-position: -100% 100%;
}

.center-circle {
    position: absolute;
    width: 300px;
    height: 300px;
    top: 50%;
    left: 56.5%;
    margin-top: -150px;
    margin-left: -150px;
    background-color: white;
    border-radius: 50%;
    z-index: 10;
}

.matrix-container {
    width: 900px;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    top: 50%;
}

.square {
    margin: 10px;
    width: 400px;
    height: 400px;
    opacity: 0.5;
}

.square.topLeft {
    border-top-left-radius: 100%;
    background-color:blue;
}

.square.topRight {
    border-top-right-radius: 100%;
    background-color:red;
}

.square.bottomLeft {
    border-bottom-left-radius: 100%;
    background-color:green;
}

.square.bottomRight {
    border-bottom-right-radius: 100%;
    background-color:yellow;
}

.blue {
    opacity: 1;
}

.red {
    opacity: 1;
}

.green {
    opacity: 1;
}

.yellow {
    opacity: 1;
}