<template>
  <div class="add">
    <h1>Ajouter un élément à la liste :</h1>
    <input type="text" v-model="nameElement" />
    <input type="button" v-on:click="addElementToList" value="Ajouter" />
    <router-link class="add-button" to="/list">Annuler</router-link>
  </div>
</template>

<script>

import LocalStorageManager from "@/db/localStorageManager";

export default {
  name: 'Add',
  data: () => ({
    nameElement: null
  }),
  methods: {
    // function for add an element to a list
    addElementToList() {
      // Save in local storage if name is not null
      if (this.addElementToList !== null) {
        LocalStorageManager.addElementToList(this.$route.params.listId, this.nameElement);

        // Redirect to the new list for add items
        this.$router.push('/list/' + this.$route.params.listId);
      }
    }
  }
}
</script>

<style scoped>

.add {
  background-color: lightgray;
  padding: 15px;
  border: 5px;
  width: 50%;
  margin: 50px auto 100px;
}

</style>
