<template>
  <div class="list">
    <div class="list-header">
      <h1>{{ listElement.name }}</h1>
      <router-link class="add-button" to="/list">Retour</router-link>
    </div>
    <h4>{{ listElement.items.length }} items dans la liste</h4>
    <router-link class="add-button" v-bind:to="url">Ajouter</router-link>
    <div>
      <ListElement v-for="element in listElement.items" v-bind:key="element.id" v-bind:element="element" v-bind:listId="listId"></ListElement>
    </div>

  </div>

</template>

<script>

import ListElement from "@/components/ListElement"
import LocalStorageManager from "@/db/localStorageManager";

export default {
  name: 'Details',
  components: {
    ListElement
  },
  data: function () {
    return {
      listId: this.$route.params.listId,
      listElement: LocalStorageManager.getListElement(this.$route.params.listId)
    }
  },
  computed: {
    // function for generate the url to modify a list
    url() {
      return '/list/' + this.listId + '/add';
    }
  }

}

</script>

<style scoped>

.list {
  background-color: lightgray;
  border-radius: 5px;
  padding: 15px;
  width: 30%;
  margin: 50px auto 100px;
}

.list-header {
  display: flex;
  justify-content: space-between;
}

.list div {
  margin-top: 25px;
}

</style>