<template>
  <div class="home">
    <h1>WELCOME</h1>
    <img src="@/assets/gif-home.gif">
  </div>
</template>

<script>
export default {

}
</script>

<style>

.home {
  width: 60%;
  height: 100%;
  margin: 50px auto 100px;
  text-align: center;
}

h1 {
  color: #2c3e50;
  margin-bottom: 30px;
}

.home img {
  width: 80%;
}

</style>
