<template>
  <div class="lists">
    <h1>Vos listes de courses</h1>
    <ListItem v-for="listItem in lists" v-bind:key="listItem.id" v-bind:listItem="listItem" class="list-item"></ListItem>
    <router-link to="/new" tag="button">Créer</router-link>
  </div>
</template>

<script>

import ListItem from "@/components/ListItem";
import LocalStorageManager from "@/db/localStorageManager";

export default {
  name: 'List',
  components: {
    ListItem,
  },
  data: () => {
    return {
      lists: LocalStorageManager.getAllListItem(),
    };
  },
  computed: {

  }
}
</script>

<style scoped>

li {
  list-style-type: none;
}

.lists {
  width: 50%;
  margin: 50px auto 100px;
}

.list-item {
  width: 90%;
  background-color: bisque;
  display: flex;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.lists button {
  background: #0F0F6D;
  color: #ffffff;
  cursor: pointer;
  font-size: 18px;
  padding: 15px;
  border: 0;
  border-radius: 10px;
  width: auto;
  position: relative;
  margin-top: 30px;
}

</style>
