<template>
  <div class="new">
    <h1>Ajout d'une nouvelle liste :</h1>
    <input type="text" v-model="nameList" />
    <input type="button" v-on:click="createList" value="Créer" />
  </div>
</template>

<script>

import LocalStorageManager from "@/db/localStorageManager";

export default {
  name: 'New',
  data: () => ({
    nameList: null
  }),
  methods: {
    // function for create a list
    createList() {
      // Save in local storage if name is not null
      if (this.nameList !== null) {
        let id = LocalStorageManager.generateId(this.nameList);
        LocalStorageManager.createList(id, this.nameList);

        // Redirect to the new list for add items
        this.$router.push('/list/' + id);
      }
    }
  }
}
</script>

<style scoped>

li {
  list-style-type: none;
}

.lists {
  width: 50%;
  margin: 50px auto 100px;
}

.list-item {
  width: 90%;
  background-color: bisque;
  display: flex;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.lists button {
  background: #0F0F6D;
  color: #ffffff;
  cursor: pointer;
  font-size: 18px;
  padding: 15px;
  border: 0;
  border-radius: 10px;
  width: auto;
  position: relative;
  margin-top: 30px;
}

</style>
