<template>
  <div id="app">
    <div class='wrapper'>
      <ejs-maps :zoomSettings= 'zoomSettings'>
        <e-layers>
          <e-layer :layerType= 'layerType' >
            <e-markerSettings>
              <e-markerSetting visible= true height=25 width=15 :dataSource ="dataSource" ></e-markerSetting>
            </e-markerSettings>
          </e-layer>
        </e-layers>
      </ejs-maps>
    </div>
  </div>
</template>

<script>

import { MapsPlugin, Zoom, MapsComponent, Marker } from '@syncfusion/ej2-vue-maps';
import Vue from "vue";
Vue.use(MapsPlugin, Zoom, MapsComponent, Marker);

export default {
  data () {
    return{
      zoomSettings: {
        zoomFactor: 6,
        enable: true,
        toolBars: ["Zoom", "ZoomIn", "ZoomOut", "Pan", "Reset"]
      },
      layerType: 'OSM',
      dataSource: [
        {
          latitude: 50.9581,
          longitude: 1.8521,
          name: "California"
        }
      ],
    }
  },
  provide: {
    maps: [ Zoom, Marker ]
  }
}
</script>

<style scoped>

.wrapper {
  max-width: 100%;
  height: 80%;
  margin: 0 auto;
}

</style>
