<html>
    <head>
        <title>TP1 - Le jeu Simon</title>
        <link rel="stylesheet" href="index.css">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
        
        <div id="app">

            <h1>Le jeu du Simon</h1>
            <h3 v-if="gameRunning">Level : {{ score }}</h3>

            <div class="btn-container">
                <button v-if="!gameRunning" class="start-game-btn" v-on:click="startGame">
                    Commencer la partie
                </button>
                <button v-else class="start-game-btn" v-on:click="startGame">
                    Relancer une partie
                </button>
            </div>


            <div class="matrix-container" v-if="gameRunning">
                <template v-for="btn in squareMapping">
                    <div class="square" v-on:click="selectSquare(btn.text)" v-bind:class="[btn.activeColor ? btn.color : '']"></div>
                </template>
            </div>
        </div>

        <script src="index.js"></script>
    </body>
</html>