body{
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
}

.btn-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1, h3 {
    width: 100%;
    text-align: center;
	color:rgba(69, 69, 69, 1);
	line-height:2em;
}

.start-game-btn {
    display:inline-block;
	
	font:normal normal 300 1.3em 'Open Sans';
	text-decoration:none;	
	
	color:rgba(28, 190, 131, 1);
	border:1px solid rgba(28, 190, 131, 1);
	border-radius:100px;
	
	padding: .3em 1.2em;
	margin:5px;
			
	background-size: 200% 100%;	
	background-image: linear-gradient(to right, transparent 50%, rgba(28, 190, 131, 1) 50%);
	transition: background-position .3s cubic-bezier(0.19, 1, 0.22, 1) .1s, color .5s ease 0s, background-color .5s ease;
}

.start-game-btn:hover{
	color:rgba(255, 255, 255, 1);
	background-color:rgba(28, 190, 131, 1);
	background-position: -100% 100%;
}

.matrix-container {
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.square {
    margin: 30px;
    width: 40%;
    height: 300px;
    background-color: grey;
}

.blue {
    background-color:blue;
}

.red {
    background-color:red;
}

.green {
    background-color:green;
}

.yellow {
    background-color:yellow;
}