<template>
  <footer>
    Copyright 2021 - Hugo Lezier - Master 2 I2L
  </footer>
</template>

<script>
export default {
  name: 'Footer'
}
</script>

<style scoped>

footer {
  position: fixed;
  width: 100%;
  height: 60px;
  bottom: 0;
  text-align: center;
  font-size: 1.2em;
  line-height: 60px;
  color: white;
  background-color: #2c3e50;
}

</style>