<template>
  <header>
    <div class="logo">
      <router-link to="/"><img src="@/assets/logo.png" alt="logo"></router-link>
    </div>

    <div class="links">
      <router-link to="/">Home</router-link>
      <router-link to="/list">Listes</router-link>
      <router-link to="/store-locator">Store Locator</router-link>
    </div>

  </header>
</template>

<script>
export default {
  name: 'Header'
}
</script>

<style scoped>

header {
  width: 60%;
  height: 80px;
  background-color: #42b983;
  display: flex;
  padding-left: 20%;
  padding-right: 20%;
}

.logo {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo img {
  height: 70px;
}

.links {
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.links a {
  text-decoration: none;
  color: white;
  margin-left: 50px;
  font-size: 24px;
}

</style>