<template>
  <div class="element">
    <span class="element-name">{{ element.name }}</span>
    <div>
      <input v-on:click="deleteElement" type="button" class="delete-element" value="X" />
      <input v-on:click="checkElement" type="checkbox" v-bind:checked="element.checked" />
    </div>
  </div>
</template>

<script>

import LocalStorageManager from "@/db/localStorageManager";

export default {
  name: 'ListElement',
  props: ['listId', 'element'],
  methods: {
    // function for checked or unchecked an element of list
    checkElement() {
      LocalStorageManager.checkElement(this.listId, this.element.name);
    },
    // function for delete an element of a list
    deleteElement() {
      LocalStorageManager.deleteElement(this.listId, this.element.name);
      this.$router.go();
    }
  }
}
</script>

<style scoped>

.element {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.element div {
  display: flex;
  align-items: center;
}

input{
  float: right;
  margin: 10px;
}

</style>