<template>
  <router-link v-bind:to="buildUrl">
    <div class="item-img">
      <img src="@/assets/logo.png">
    </div>
    <div class="item-content">
      <h3>{{ listItem.name }}</h3>
      <h5>Nombre d'items dans la liste : {{ listItem.nbItems}}</h5>
    </div>
  </router-link>
</template>

<script>
export default {
  name: 'ListItem',
  props: ['listItem'],
  computed: {
    // function for generate the url of a list
    buildUrl() {
      return '/list/' + this.listItem.id;
    }
  }
}
</script>

<style scoped>

* {
  text-decoration: none;
}

.item-img {
  width: 20%;
  padding: 15px;
}

img {
  width: 80%;
}

.item-content {
  width: 80%;
  padding: 15px;
}

</style>