<template>
  <div id="app">
    <div id="nav">
      <h1>Web Front</h1>
      <router-link to="/">Home</router-link> |
      <router-link to="/my-games">Mes Jeux</router-link>
    </div>
    <router-view id="games"/>
  </div>
</template>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  text-align: center;
  color: #2c3e50;
  display: flex;
}

#nav {
  padding: 30px;
  width: 10vw;
  height: 100vh;
  background-color: #2c3e50;
  display: flex;
  flex-direction: column;
  text-align: left;
}

#games {
  width: 90vw;
  height: 100vh;
}

#nav a {
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
}
h1 {
  margin-bottom: 50px;
  color: #42b983;
}

#nav a.router-link-exact-active {
  color: #42b983;
  text-decoration: underline;
}
</style>
