<template>
  <div class="my-games">
    <h1>Liste des jeux</h1>
    <div class="games-list">
      <div v-for="game in games" v-bind:key="game.title">
        <a v-bind:href="game.path">{{ game.title }}</a>
      </div>
    </div>
  </div>
</template>


<script>

export default {
  data: () => ({
    games: [
      {'title': 'Simon Game', 'path': '/#/simon-game'},
      {'title': 'Other Game 1', 'path': '/simonGame'},
      {'title': 'Other Game 2', 'path': '/simonGame'},
      {'title': 'Other Game 3', 'path': '/simonGame'}
    ]
  }),
  components: {},
  methods: {}
}
</script>

<style>
.games-list {
  display: flex;
  justify-content: space-evenly;
}

.games-list div {
  width: 20%;
  height: 150px;
  background-color: aquamarine;
  border-radius: 10px;
}

.games-list div a {
  text-decoration: none;
  color: burlywood;
  font-weight: 900;
  font-size: 30px;
  width: 100%;
  height: 100%;
  display: block;
  line-height: 150px;
}
</style>
