<template>
  <div id="app">
    <div class="center-circle">
      <h2>Le jeu du Simon</h2>
      <LevelCount v-if="gameRunning" v-bind:data="score"></LevelCount>

      <div class="btn-container">
        <button v-if="!gameRunning" class="start-game-btn" v-on:click="startGame">
          Commencer la partie
        </button>
        <button v-else class="start-game-btn" v-on:click="startGame">
          Relancer une partie
        </button>
      </div>
    </div>

    <div class="matrix-container" v-if="gameRunning">
      <button-simon v-for="button in squareMapping"  ref="puddleObject" v-bind:data="button" v-bind:key="button.text" v-on:click-button="selectSquare" ></button-simon>
    </div>
  </div>
</template>

<script>

import LevelCount from "@/components/LevelCount";
import ButtonSimon from "@/components/ButtonSimon";


export default {
  data: () => ({
    gameRunning: false,
    sequence: [],
    sequenceTmp: [],
    topLeft: { text: 'topLeft', activeColor: false, color: 'blue', sound: new Audio(require("@/assets/sounds/blue.ogg")) },
    topRight: { text: 'topRight', activeColor: false, color: 'red', sound: new Audio(require("@/assets/sounds/red.ogg")) },
    bottomLeft: { text: 'bottomLeft', activeColor: false, color: 'green', sound: new Audio(require("@/assets/sounds/green.ogg")) },
    bottomRight: { text: 'bottomRight', activeColor: false, color: 'yellow', sound: new Audio(require("@/assets/sounds/yellow.ogg")) },
    squareMapping: [],
    score: 0
  }),
  components: {
    LevelCount,
    ButtonSimon
  },
  methods: {
    // Function for set all square grey color
    setAllSquareGreyColor: function () {
      this.topLeft.activeColor = false;
      this.topRight.activeColor = false;
      this.bottomLeft.activeColor = false;
      this.bottomRight.activeColor = false;
    },
    // Function for increment score after a good sequence
    levelUp: function () {
      this.score++;
    },
    // Function for add a square to the sequence
    addNewSquareToSequence: function () {
      let random = this.squareMapping[Math.floor(Math.random() * 4)];
      this.sequence.push(random);
      this.sequenceTmp = this.sequence.slice();
    },
    // Function for select square by user and check if is the good square in the sequence
    selectSquare: function (instruction) {
      if (instruction === this.sequenceTmp[0].text) {
        const that = this;
        that.sequenceTmp[0].activeColor = true;
        that.sequenceTmp[0].sound.play();
        setTimeout(function () {
          that.setAllSquareGreyColor();
          that.sequenceTmp.shift();
          if (!that.sequenceTmp[0]) {
            that.levelUp();
            that.nextTurn();
          }
        }, 400);
      } else {
        alert('Vous avez perdu');
      }
    },
    // Function for play a sequence
    playSequence: function () {
      const that = this;
      setTimeout(function () {
        that.sequenceTmp[0].activeColor = true;
        that.sequenceTmp[0].sound.play();
        setTimeout(function () {
          that.setAllSquareGreyColor();
          that.sequenceTmp.shift();
          if (that.sequenceTmp[0]) {
            that.playSequence(that.sequenceTmp[0].text);
          } else {
            that.sequenceTmp = that.sequence.slice();
          }
        }, 400);
      }, 400);
    },
    // Function for run a new turn
    nextTurn: function () {
      const that = this;
      setTimeout(function () {
        that.addNewSquareToSequence();
        that.setAllSquareGreyColor();
        that.playSequence(that.sequenceTmp[0].text);
      }, 400);
    },
    // Function for initialize and run the game
    startGame: function () {
      this.squareMapping = [this.topLeft, this.topRight, this.bottomLeft, this.bottomRight];
      this.gameRunning = true;
      this.sequence = [];
      this.sequenceTmp = [];
      this.score = 0;
      this.nextTurn();
    }
  }
}
</script>

